.about {
	.page-content {
		
		position: relative;
		//display: flex;
		justify-content: space-between;

		@media (max-width: $bp-medium) {
		color: $color-text-mobile-light;
		margin-left: 5%;
	}

	@media (max-width: $bp-desktop) {
		color: $color-text-mobile-light;
		margin-left: 5%;
	}
	}


}

.about-heading {
	flex: 0 0 270px;
	font-weight: italic;
	font-size: 34px;
	color: #274D6D;
	margin-bottom: 30px;
	@include font-style-content-lg;
	font-weight: 600;
	opacity: 0.6;
}

.about-content {

	@include font-style-content-lg;
	color: $color-text-light;
	max-width: 920px;
	font-size: 30px;
	color: #274D6D;
	font-weight: 500;
	opacity: 0.9;
	.text-disperse-char {
		display: inline;
	}

	@media (max-width: $bp-medium) {
		color: #274D6D;
	}

}