@keyframes countdown {
	0% {
	
		opacity: 0.9;
	}
	20% {
		
		opacity: 0.8;
	}
	
	40% {
		
		opacity: 0.7;
	}
	60% {
		
		opacity: 0.6;
	}


	80% {
		
		opacity: 0.3;
	}

	100% {
		
		opacity: 0;
		
	}


}


.trailer {
	background-color: black;
	position: relative;
margin-top: 1.5vh;
padding-bottom: 0%;
padding-top: 0%;
height: 103%;

	.video-frame {
	display:block;
	z-index: 300;
	 position: absolute;
      height: 120%;
      width: 120vw;
      margin: -7% -10% auto;
 

	
}
.video-frame-countdown {

	display:block;
	z-index: 1000;
	position: absolute;
	 height: 120%;
      width: 120vw;
      margin: -5% -10% auto;
	-webkit-transition: right 1s;
    -moz-transition: right 1s;
    transition: right 1s;  
	animation: countdown 5s forwards;

	
}
	
}




.trailer-heading {
	flex: 0 0 270px;
	@include font-style-h1;
	color: $color-dark-text;
	margin-bottom: 30px;
}

.trailer-content {

	@include font-style-content-lg;
	color: $color-text-light;
	max-width: 920px;
	.text-disperse-char {
		display: inline;
	}

	@media (max-width: $bp-medium) {
		color: $color-text-mobile-light;
	}

}

